@using EightElements.Data
@{List<EightElements.Data.Rest.Models.GameCategory> categories = (List<EightElements.Data.Rest.Models.GameCategory>)ViewData["GameCategories"];}

<div class='home-content'>
    
    @Html.Partial("HeaderText")
    
    @{Html.RenderAction("GetChannel", "Common");}

    @{
        if (!(bool)ViewData["IsSubscribed"])
        {
            ViewData["SectionType"] = "F";
            ViewData["GameListTitle"] = @Resources.BBBGH.Home_HighlightGame;
            ViewData["MoreTitle"] = @Resources.BBBGH.Home_SeeMore;
            ViewData["ImageSize"] = "Banner0";
            Html.RenderPartial("GameList");
        }
    }

    @*@Html.Partial("CustomFWF")*@

	@*<div id='displayed-in-home-categories'></div>*@

    @*@if (ViewBag.PointSystemVisible)
    {
        <div class="title row-fluid gradient-home-categories">
            <h4>» @Resources.Strings.GameBundle_PageTitle</h4>
        </div>
        @Html.Partial("GameBundleListPartial")
        <div class="btn-more btn-curved gradient-blue-bright btn-text-1line">
            <a href="@Url.Action("Index", "GameBundle")">
                @Resources.Strings.Home_MoreGameBundles
            </a>
        </div>
    }*@

    @{
        if (!(bool)ViewData["IsSubscribed"])
        {
            ViewData["SectionType"] = "N";
            ViewData["GameListTitle"] = @Resources.BBBGH.Home_MoreContent;
            ViewData["MoreTitle"] = @Resources.BBBGH.Home_SeeMore;
            ViewData["ImageSize"] = "Square0";
            Html.RenderPartial("ContentList");
        }
    }

    @{
        //Ewallet Subscriber User Game List
        if ((bool)ViewData["IsSubscribed"])
        {
            ViewData["SectionType"] = "T";
            ViewData["GameListTitle"] = @Resources.BBBGH.Home_FreeContent;
            ViewData["MoreTitle"] = @Resources.BBBGH.Home_SeeMore;
            ViewData["ImageSize"] = "Square0";
            Html.RenderPartial("MasterList");
        }
    }

    @{
        //Premium Download Game List
        if ((bool)ViewData["IsSubscribed"])
        {
            ViewData["SectionType"] = "N";
            ViewData["GameListTitle"] = @Resources.BBBGH.Home_PPDContent;
            ViewData["MoreTitle"] = @Resources.BBBGH.Home_SeeMore;
            ViewData["ImageSize"] = "Square0";
            Html.RenderPartial("PremiumList");
        }
    }

    @{if ((bool)ViewData["IsAndroidPhone"])
    {
        <div>
            @Html.PortalImage("midbannerAndroid", true, "portalimage", "", "width:100%")
        </div>
    }}

    @*@if (!(bool)ViewData["IsSubscribed"] && 
        ViewBag.PortalID == EightElements.Data.DAPortal.ViettelPortalId)
    {
        <div>
            @Html.PortalText("Text")
        </div>
    }*@
    
    <!-- search bar -->
	@*<div id="search-container" class="gradient-pale row-fluid">
    @using (Html.BeginForm("", "Search", FormMethod.Get))
    {  
        <div class="search-bar">
            <div id="multilayers">
                <i class="icon-search"></i>
                <input id="search" type="text"  placeholder="@Resources.Strings.Home_Search" data-provide="typeahead"
					    data-items="8" name="keyword" />
            </div>
        </div>
    }
    </div>*@

</div>

@*@Html.Action("SubscribeAd", "PortalPage")*@

@{
    if ((bool)ViewData["IsSubscribed"])
    {
        <div class="other-content-icon" style="text-align: center;">
            <img src="/Content/BBBGH/images/btn_appstore_inactive.png" style="display: inline-block; max-width: 30%;" />
            <img src="/Content/BBBGH/images/btn_gplay_inactive.png" style="display: inline-block; max-width: 30%;" />
            <img src="/Content/BBBGH/images/socmed_fb_inactive.png" style="display: inline-block; max-width: 15%;" />
            <img src="/Images/320/logo.gif" style="display: inline-block; max-width: 15%;" />
        </div>
    }
}