<div class="page-title--gdc">
    @ViewBag.Title
</div>

<div id="welcome-text" class="header-text"> 
    
    @if ((bool)ViewData["NonSub"])
    {
        @Html.PortalText("SubscribeJoinTextLong")
    }
    else
    {
        @Html.PortalText("SubscribeThanksJoin", true)
        
        if ((bool)ViewData["IsPending"])
        {
@*            @Html.PortalText("SubscribePendingWarning", true)*@
        }
        else
        {
@*            @Html.Raw(String.Format(Resources.Strings.Home_CreditText, ViewData["Credits"]))*@
        }
        
        if ((bool)ViewData["IsSuspended"])
        {
@*            <br/>*@
@*            @Resources.Strings.Home_SuspendedWarning*@
        }
    }

</div>