<div id="welcome-text" class="category row-fluid gradient-pale welcome-text"
    style="padding: 15px 0px 10px 3px;color: rgb(3,95,233);font-weight:bold;margin-top: 3px;text-align:left; width:inherit"> 
    
    @if ((bool)ViewData["NonSub"])
    {
        @Html.PortalText("SubscribeJoinTextLong")<br />
            
        if ((bool)ViewData["CanStillUseFirstWeekFree"])
        {
            <div class="first-week-free category row-fluid" style="padding: 3% 0px; color: rgb(3, 95, 233); font-weight: bold; margin-top: 3px">
                @Html.Raw(Resources.Strings.Home_WelcomeTitle)
            </div>
        }
        if (ViewData["TotalGamesAvailable"] != null && ViewData["UserHandset"] != null)
        {
            <p>
                @Html.Raw(String.Format(Resources.GamerHeaven.Home_AvailableGames, ViewData["TotalGamesAvailable"], ViewData["UserHandset"]))
            </p>
        }
        if ((bool) ViewData["isMsisdnNotDetected"])
        {
            <div class="not-authenticated">
                Your phone number is not detected. To fully enjoy our service, please click on the Login button below.
                <div class="subscribe-login-button">
                    <a href="@Url.Action("WifiAuthentication", "Authorization")" style="text-decoration: none; color: white;">Login</a>
                </div>
            </div>
        }
    }
    else
    {
        @Html.PortalText("SubscribeThanksJoin", true)
        <br/>
        if ((bool)ViewData["IsPending"])
        {
            @Html.PortalText("SubscribePendingWarning", true)
        }
        else
        {
            if ((int)ViewData["Credits"] <= 1)
            {
                @Html.Raw(String.Format(Resources.Strings.Home_CreditText, ViewData["Credits"]))
            }
            else
            {
                @Html.Raw(String.Format(Resources.Strings.Home_CreditsText, ViewData["Credits"]))
            }
        }
        if (ViewData["TotalGamesAvailable"] != null && ViewData["UserHandset"] != null)
        {
            <br/>
            @Html.Raw(String.Format(Resources.Strings.Home_GameForHandset, ViewData["TotalGamesAvailable"], ViewData["UserHandset"]))
        }
        if ((bool)ViewData["IsSuspended"])
        {
            <br/>
            @Resources.Strings.Home_SuspendedWarning
        }
    }

</div>