@{if ((bool)ViewData["NonSub"])
{
    <div class="home-header home-header-join">
        @Html.PortalText("SubscribeJoinText", true)
    </div>
    <div class="home-header home-padding-top">
        @Html.PortalText("SubscribeJoinTextLong", true)
    </div>
    if ((bool)ViewData["CanStillUseFirstWeekFree"])
    { 
        <div class="first-week-free category row-fluid home-header home-header-fwf">
            @(ViewBag.PortalID == EightElements.Data.DAPortal.SmartPortalId ? Html.Raw(Resources.Smart8e.Home_WelcomeTitle) : Html.Raw(Resources.Strings.Home_WelcomeTitle))
        </div>
    }
    <div class="home-header home-padding-middle">
    @if (ViewData["TotalGamesAvailable"] != null && ViewData["UserHandset"] != null)
    {
        @Html.Raw(String.Format(Resources.GamerHeaven.Home_AvailableGames, ViewData["TotalGamesAvailable"], ViewData["UserHandset"]));
    }
    @if ((bool) ViewData["isMsisdnNotDetected"])
    {
        <div>
            Your phone number is not detected. To fully enjoy our service, please click on the Login button below.
            <div class="subscribe-login-button">
                <a href="@Url.Action("WifiAuthentication", "Authorization")" style="text-decoration: none; color: white;">Login</a>
            </div>
        </div>
    }
    </div>
}
  else
  {
    <div class="home-header home-padding-default">
    @Html.PortalText("SubscribeThanksJoin", true)
    <br/>
    @if ((bool)ViewData["IsPending"])
    {
        @Html.PortalText("SubscribePendingWarning", true)
    }
    else
    {
        if ((int)ViewData["Credits"] <= 1)
        {
            @Html.Raw(String.Format(Resources.Strings.Home_CreditText, ViewData["Credits"]))
        }
        else
        {
            @Html.Raw(String.Format(Resources.Strings.Home_CreditsText, ViewData["Credits"]))
        }
    }
    @if (ViewData["TotalGamesAvailable"] != null && ViewData["UserHandset"] != null)
    {
        <br/>
        @Html.Raw(String.Format(Resources.GamerHeaven.Home_GameForHandset, ViewData["TotalGamesAvailable"], ViewData["UserHandset"]))
    }
    @if ((bool)ViewData["IsSuspended"])
    {
        <br/>
        @Resources.Strings.Home_SuspendedWarning
    }
    </div>
}}
