<div class="section">
    
    <h2 class="section__header">@Resources.Strings.MyAccount_ThankYou</h2>

    <div class="section__content">
        <p>@Resources.GamerHeaven.MyAccount_OnUnsubscribeSuccess</p>
        <p><a href="/">@Resources.Strings.Layout_Home</a>
        </p>
        <p><a href="/terms">@Resources.Strings.Layout_Terms</a>
        </p>
        <p>@Resources.Strings.MyAccount_SubscriptionCancel</p>
    </div>

</div>

