@{
    bool ppdDisabled = ViewBag.PpdDisabled ?? false;
}

<input type="hidden" id='ListType' value='@ViewData["ListType"]' />
<input type="hidden" id='PageSize' value='@ViewData["PageSize"]' />
<input type="hidden" id='PageNumber' value='0' />
<input type="hidden" id='ListSource' value='listTypeList' />
<div class="title">
    @{
        string listType = (string)ViewData["ListType"];
        if (System.Configuration.ConfigurationManager.AppSettings["PortalId"].ToString() == "331")
        {
            <div style="padding: 1%; text-align: center; font-weight: bold;  font-size: 1em;">@ViewData["ListTile"]</div>
        }
        else
        {
            if ("T".Equals(listType))
            {
            <div style="padding: 1%; text-align: center; font-weight: bold;  font-size: 1em;">
            @Resources.Strings.List_TopGame</div>
            }
            else if ("N".Equals(listType))
            {
                <div style="padding: 1%; text-align: center; font-weight: bold;  font-size: 1em;">@Resources.Strings.List_NewGame</div>
            }
        }
    }
</div>
<div id='games-list'>
    <table style="width: 100%; min-width: 128px; font-weight: bold; font-size: small;">
        @{   
            foreach (KeyValuePair<int, EightElements.Data.Rest.Models.Game> entry in (Dictionary<int, EightElements.Data.Rest.Models.Game>)ViewData["DictGame"])
            {
                string gamePriceT = ((Dictionary<int, string>)ViewData["DictGamePrice" + ViewData["SectionType"]])[entry.Key];
                string AmountPriceT = ((Dictionary<int, string>)ViewData["DictAmountPrice" + ViewData["SectionType"]])[entry.Key];
                bool hasSubscription = (bool)ViewData["IsSubscribed"];

                string imgLink =
                    "/rest/gameimage/" + @entry.Key + "?key=" + @ViewData["ImageSize"];
            <tr><td>
                <div class="left-column">
                        <a href="/Detail/@entry.Key" >
                            <img src="@imgLink" alt="@entry.Value.Name" class="gameSquareImageTop" />
                        </a>
                </div>
                <div class="right-column">
                    <div class="right-column-header">
                        <a href="/Detail/@entry.Key">@entry.Value.Name</a></div>
                    <div class="right-column-button">
                    @if ((bool)ViewData["isMsisdnNotDetected"])
                    {
                        <a href="@Url.Action("Index", "Subscribe")" class="button-free">
                                    @Resources.Strings.CommonBuy_Free</a>
                    }
                    else
                    {
                        if ((bool)ViewData["NonSub"])
                        { 
                            <a href="@Url.Action("SubscribeButton", "Subscribe")" class="button-free">
                                @Resources.Strings.CommonBuy_Free</a>
                            <br />
                        }
                        if ((int)ViewData["credits"] > 0 && !(AmountPriceT == "0" || AmountPriceT == "0.0000"))
                        {
                            <a href=@Url.Content("~/purchase/buy?contentid=" + @entry.Key + "&ppd=false") class="button-buy">@Resources.Strings.CommonBuy_UseCredit</a> <br />
                        }
                        if (!ppdDisabled)
                        {
                            <a href=@Url.Content("~/purchase/buy?contentid=" + @entry.Key + "&ppd=true") class="button-buy">@gamePriceT</a>    
                        }

                    }
                    </div>
                </div>
            </td></tr>
            }
        }
    </table>
    @{ if ((bool)ViewData["HasNextPage"])
       {
        <div style="text-align: center; padding: 2%; background-color: #EDF0F0;">
            <a href="/List?type=@(listType)&pageNumber=@((int)ViewData["PageNumber"] + 1)" style=" text-decoration: none;">
                @Resources.Strings.List_ShowMore</a>
        </div>
       }
    }
</div>