@using EightElements.Data.Rest.Models;
@{
    var categories = ViewData["GameCategories"] as List<GameCategory>;
}

@section SearchBar {
    <div class="search-container">
        <form action="/Search" method="get">
            <div class="search__box">
                <i class="icon-search search__icon"></i>
                <input id="search" type="text" placeholder="@Resources.GamerHeaven.Search_Placeholder" data-provide="typeahead" data-items="8" name="keyword"/>
            </div>
        </form>
    </div>
}

@section Scripts
{    
    <script type="text/javascript">
        $(document).ready(function () {
            setSearchAutoCompletion();
            loadBannerCategory('today', 'F', '@Resources.GamerHeaven.GameList_Featured', '@Resources.GamerHeaven.GameList_More', 1);
            loadCategory('top', 'T', '@Resources.Strings.List_TopGames', '@Resources.GamerHeaven.GameList_More', 3);
            loadCategory('new', 'N', '@Resources.Strings.List_NewGames', '@Resources.GamerHeaven.GameList_More', 3);

            
            $("#midbanner1").click(function () {
                ga('send', 'event', 'home', 'click', 'banner 1');
            });

            $("#midbanner2").click(function () {
                ga('send', 'event', 'home', 'click', 'banner 2');
            });

            $("#accept-terms").click(function() {
                $.get("/terms/acceptTerms", function(data) {
                    if (data === "0") {
                        $("#terms").slideUp();
                    }
                });
            });
            
        });
        
    </script>
}

@Html.Partial("Content")

<div class="section">
    <div class="section__header">@Resources.Strings.GameCategories_AllGames</div>
    
    <div class="section__content">
        @foreach (var category in categories)
        {
            <div class="game">
                <div class="game__image-container">
                    <a href="/GameCategory?categoryId=@category.GameCategoryId">
                        <img class="game__image img-rounded" src="rest/GameCategoryImage?gameCategoryId=@category.GameCategoryId" alt="@category.Name"/>
                    </a>
                </div>
                <div class="game__title">
                    <a class="game__title-link" href="/GameCategory?categoryId=@category.GameCategoryId">
                        @category.Name
                    </a>
                </div>
            </div>
        }
    </div>

</div>
