<a href="/Subscribe/Subscribe?ContentId=@ViewData["DetailContentId"]" 
    title="@Resources.ViettelPort.Subscribe_ButtonTopText" class="subButtonTop"> 
        @Resources.ViettelPort.Subscribe_ButtonTopText
</a>
@Html.PortalText("Text")
<a href="/Subscribe/Subscribe?ContentId=@ViewData["DetailContentId"]" 
    title="@Resources.ViettelPort.Subscribe_ButtonBottomText" class="subButtonBottom"> 
    @Resources.ViettelPort.Subscribe_ButtonBottomText
</a>
