@section Scripts
{    
    <script type="text/javascript">
        $(document).ready(function () {
            setSearchAutoCompletion();
            loadCategory('today', 'F', '@Resources.D1GC.GameList_TopGames',
                                    '@Resources.D1GC.GameList_ViewMore');
            loadCategory('new', 'N', '@Resources.Strings.Home_NewGames',
                                    '@Resources.D1GC.GameList_ViewMore');
        });
        
    </script>
}

@Html.Partial("Content")


@section footerMenu
{
    <div class="footer__main-menu">
        <a class="footer__menu-item" href="@Url.Action("Index", "MyAccount")">@Resources.Strings.Layout_MyAccount</a>
    </div>
    <div class="footer__side-menu">
        <a class="footer__side-menu-link" href="/">@Resources.D1GC.Menu_Home</a>
    </div>
}
