@{    
    EightElements.Data.Rest.Models.UserDetail userDetail = (EightElements.Data.Rest.Models.UserDetail)ViewData["UserDetail"];
}

<div class="subscribe-content">
<div id="top">
    @Html.PortalText("SucessSubscribedWelcomeText")
</div>
<div id="container" class="gradient-pale">
    <div style="padding:5px">
        @Html.PortalText("SucessSubscribedText")
    </div>

    <div style="text-align: center;padding:10px">
    @{if ((int)ViewData["DetailContentId"] != -1)
      {
            @Html.ActionLink(Resources.GamerHeaven.SubscribeSuccess_RedirectHome, "Index", "Detail", new { contentId = ViewData["DetailContentId"] }, new { id = "redirectUrl" })     
      }
      else
      {
            @Html.ActionLink(Resources.GamerHeaven.SubscribeSuccess_RedirectHome, "Index", "Home", new { }, new { id = "redirectUrl" })
      }}
    </div>
    <div style="text-align: center;padding:10px">
        Renewal Date: @userDetail.SubscriptionExpiryDateStr</span><br /><br />
    </div>
</div>


@Html.PortalText("InmobiSucessSubscribed")

</div>


